:root {
    --theme_name: 'DarkT';
    --app_name: '"app"';
    --app_bg: rgb(255, 255, 255);
    --app_fg: rgb(0, 0, 0);
    --app_hover_bg: rgb(0, 0, 255);
    --app_hover_fg: rgb(255, 255, 255);
    --app_active_bg: rgb(255, 0, 0);
    --app_active_fg: rgb(255, 255, 255);
    --app_disabled_bg: rgb(255, 255, 255);
    --app_disabled_fg: rgb(127, 127, 127);
    --app_border: 0px solid rgb(255, 255, 255);
    --app_radius: 0px;
    --app_font: "Roboto-Regular";
    --app_font_size: 1em;
    --app_font_weight: normal;
    --app_font_style: normal;
    --app_shadow: 0;
    --bar_name: '"bar"';
    --bar_bg: rgb(0, 0, 0);
    --bar_fg: rgb(255, 255, 255);
    --bar_hover_bg: rgb(0, 0, 255);
    --bar_hover_fg: rgb(255, 255, 255);
    --bar_active_bg: rgb(255, 0, 0);
    --bar_active_fg: rgb(255, 255, 255);
    --bar_disabled_bg: rgb(255, 255, 255);
    --bar_disabled_fg: rgb(127, 127, 127);
    --bar_border: 0px solid rgb(255, 255, 255);
    --bar_radius: 0px;
    --bar_font: "Roboto-Regular";
    --bar_font_size: 1em;
    --bar_font_weight: normal;
    --bar_font_style: normal;
    --bar_shadow: 0;
    --top_name: '"top"';
    --top_bg: rgb(255, 255, 255);
    --top_fg: rgb(0, 0, 0);
    --top_hover_bg: rgb(0, 0, 255);
    --top_hover_fg: rgb(255, 255, 255);
    --top_active_bg: rgb(255, 0, 0);
    --top_active_fg: rgb(255, 255, 255);
    --top_disabled_bg: rgb(255, 255, 255);
    --top_disabled_fg: rgb(127, 127, 127);
    --top_border: 0px solid rgb(255, 255, 255);
    --top_radius: 0px;
    --top_font: "Roboto-Regular";
    --top_font_size: 1em;
    --top_font_weight: normal;
    --top_font_style: normal;
    --top_shadow: 0;
    --main_name: '"main"';
    --main_bg: rgb(255, 255, 255);
    --main_fg: rgb(0, 0, 0);
    --main_hover_bg: rgb(0, 0, 255);
    --main_hover_fg: rgb(255, 255, 255);
    --main_active_bg: rgb(255, 0, 0);
    --main_active_fg: rgb(255, 255, 255);
    --main_disabled_bg: rgb(255, 255, 255);
    --main_disabled_fg: rgb(127, 127, 127);
    --main_border: 0px solid rgb(255, 255, 255);
    --main_radius: 0px;
    --main_font: "Roboto-Regular";
    --main_font_size: 1em;
    --main_font_weight: normal;
    --main_font_style: normal;
    --main_shadow: 0;
    --footer_name: '"footer"';
    --footer_bg: rgb(255, 255, 255);
    --footer_fg: rgb(0, 0, 0);
    --footer_hover_bg: rgb(0, 0, 255);
    --footer_hover_fg: rgb(255, 255, 255);
    --footer_active_bg: rgb(255, 0, 0);
    --footer_active_fg: rgb(255, 255, 255);
    --footer_disabled_bg: rgb(255, 255, 255);
    --footer_disabled_fg: rgb(127, 127, 127);
    --footer_border: 0px solid rgb(255, 255, 255);
    --footer_radius: 0px;
    --footer_font: "Roboto-Regular";
    --footer_font_size: 1em;
    --footer_font_weight: normal;
    --footer_font_style: normal;
    --footer_shadow: 0;
    --dlg_name: '"dlg"';
    --dlg_bg: rgb(255, 255, 255);
    --dlg_fg: rgb(0, 0, 0);
    --dlg_hover_bg: rgb(0, 0, 255);
    --dlg_hover_fg: rgb(255, 255, 255);
    --dlg_active_bg: rgb(255, 0, 0);
    --dlg_active_fg: rgb(255, 255, 255);
    --dlg_disabled_bg: rgb(255, 255, 255);
    --dlg_disabled_fg: rgb(127, 127, 127);
    --dlg_border: 0px solid rgb(255, 255, 255);
    --dlg_radius: 0px;
    --dlg_font: "Roboto-Regular";
    --dlg_font_size: 1em;
    --dlg_font_weight: normal;
    --dlg_font_style: normal;
    --dlg_shadow: 0;
    --inp_name: '"inp"';
    --inp_bg: rgb(255, 255, 255);
    --inp_fg: rgb(0, 0, 0);
    --inp_hover_bg: rgb(0, 0, 255);
    --inp_hover_fg: rgb(255, 255, 255);
    --inp_active_bg: rgb(255, 0, 0);
    --inp_active_fg: rgb(255, 255, 255);
    --inp_disabled_bg: rgb(255, 255, 255);
    --inp_disabled_fg: rgb(127, 127, 127);
    --inp_border: 0px solid rgb(255, 255, 255);
    --inp_radius: 0px;
    --inp_font: "Roboto-Regular";
    --inp_font_size: 1em;
    --inp_font_weight: normal;
    --inp_font_style: normal;
    --inp_shadow: 0;
    --btn_name: '"btn"';
    --btn_bg: rgb(255, 255, 255);
    --btn_fg: rgb(0, 0, 0);
    --btn_hover_bg: rgb(0, 0, 255);
    --btn_hover_fg: rgb(255, 255, 255);
    --btn_active_bg: rgb(255, 0, 0);
    --btn_active_fg: rgb(255, 255, 255);
    --btn_disabled_bg: rgb(255, 255, 255);
    --btn_disabled_fg: rgb(127, 127, 127);
    --btn_border: 0px solid rgb(255, 255, 255);
    --btn_radius: 0px;
    --btn_font: "Roboto-Regular";
    --btn_font_size: 1em;
    --btn_font_weight: normal;
    --btn_font_style: normal;
    --btn_shadow: 0;
    --header_name: '"header"';
    --header_bg: rgb(255, 255, 255);
    --header_fg: rgb(0, 0, 0);
    --header_hover_bg: rgb(0, 0, 255);
    --header_hover_fg: rgb(255, 255, 255);
    --header_active_bg: rgb(255, 0, 0);
    --header_active_fg: rgb(255, 255, 255);
    --header_disabled_bg: rgb(255, 255, 255);
    --header_disabled_fg: rgb(127, 127, 127);
    --header_border: 0px solid rgb(255, 255, 255);
    --header_radius: 0px;
    --header_font: "Roboto-Regular";
    --header_font_size: 1em;
    --header_font_weight: normal;
    --header_font_style: normal;
    --header_shadow: 0;
    --text_name: '"text"';
    --text_bg: rgb(255, 255, 255);
    --text_fg: rgb(0, 0, 0);
    --text_hover_bg: rgb(0, 0, 255);
    --text_hover_fg: rgb(255, 255, 255);
    --text_active_bg: rgb(255, 0, 0);
    --text_active_fg: rgb(255, 255, 255);
    --text_disabled_bg: rgb(255, 255, 255);
    --text_disabled_fg: rgb(127, 127, 127);
    --text_border: 0px solid rgb(255, 255, 255);
    --text_radius: 0px;
    --text_font: "Roboto-Regular";
    --text_font_size: 1em;
    --text_font_weight: normal;
    --text_font_style: normal;
    --text_shadow: 0;
    --picture_name: '"picture"';
    --picture_bg: rgb(255, 255, 255);
    --picture_fg: rgb(0, 0, 0);
    --picture_hover_bg: rgb(0, 0, 255);
    --picture_hover_fg: rgb(255, 255, 255);
    --picture_active_bg: rgb(255, 0, 0);
    --picture_active_fg: rgb(255, 255, 255);
    --picture_disabled_bg: rgb(255, 255, 255);
    --picture_disabled_fg: rgb(127, 127, 127);
    --picture_border: 0px solid rgb(255, 255, 255);
    --picture_radius: 0px;
    --picture_font: "Roboto-Regular";
    --picture_font_size: 1em;
    --picture_font_weight: normal;
    --picture_font_style: normal;
    --picture_shadow: 0;
    --media_name: '"media"';
    --media_bg: rgb(255, 255, 255);
    --media_fg: rgb(0, 0, 0);
    --media_hover_bg: rgb(0, 0, 255);
    --media_hover_fg: rgb(255, 255, 255);
    --media_active_bg: rgb(255, 0, 0);
    --media_active_fg: rgb(255, 255, 255);
    --media_disabled_bg: rgb(255, 255, 255);
    --media_disabled_fg: rgb(127, 127, 127);
    --media_border: 0px solid rgb(255, 255, 255);
    --media_radius: 0px;
    --media_font: "Roboto-Regular";
    --media_font_size: 1em;
    --media_font_weight: normal;
    --media_font_style: normal;
    --media_shadow: 0;
    --title_name: '"title"';
    --title_bg: rgb(255, 255, 255);
    --title_fg: rgb(0, 0, 0);
    --title_hover_bg: rgb(0, 0, 255);
    --title_hover_fg: rgb(255, 255, 255);
    --title_active_bg: rgb(255, 0, 0);
    --title_active_fg: rgb(255, 255, 255);
    --title_disabled_bg: rgb(255, 255, 255);
    --title_disabled_fg: rgb(127, 127, 127);
    --title_border: 0px solid rgb(255, 255, 255);
    --title_radius: 0px;
    --title_font: "Roboto-Regular";
    --title_font_size: 1em;
    --title_font_weight: normal;
    --title_font_style: normal;
    --title_shadow: 0;
}