{
    "globals": {
        "request":{},
        "sql_read":{},
        "lexer_data":{},
        "page_data":{},
        "sql_string":{},
        "create_navbar":{},
        "create_navlink":{},
        "sql_mode":{},
        "T":{},
        "navbar":{},
        "f_base":{},
        "sql_is_true":{},
        "load_config":{},
        "load_blocks":{},
        "create_block":{},
        "fill_content":{},
        "load_lexer":{},
        "hexcolor_to_style":{},
        "remove_childs":{},
        "config_data":{},
        "create_footer":{},
        "create_center_panel":{},
        "form":{},
        "f_select":{},
        "f_button":{},
        "f_text":{},
        "f_number":{},
        "f_float":{},
        "f_checkbox":{},
        "f_color":{},
        "open_style_editor":{},
        "open_theme_editor":{},
        "html_decode":{},
        "get_filtered":{},
        "load_top_pages":{},
        "to_hexbyte":{},
        "create_form":{},
        "create_base":{},
        "create_button":{},
        "create_color":{},
        "create_email":{},
        "create_file":{},
        "create_float":{},
        "create_hidden":{},
        "create_label":{},
        "create_number":{},
        "create_password":{},
        "create_select":{},
        "create_slider":{},
        "create_text":{},
        "create_checkbox":{},
        "filtered_style_to_string":{},
        "get_style":{},
        "get_int_style":{},
        "get_bool_style":{},
        "get_float_style":{},
        "open_settings_editor":{},
        "scaling":{},
        "sql_write":{},
        "create_left":{},
        "create_right":{},
        "create_toolbar":{},
        "create_maintools":{},
        "add_toolbar_item":{},
        "create_blocktools":{},
        "show_toolsmenu":{},
        "fill_navbar":{},
        "fill_center_panel":{},
        "fill_left_panel":{},
        "fill_footer":{},
        "fill_right_panel":{},
        "add_tool":{},
        "add_default_tools":{},
        "add_align_tools":{},
        "on_new_page":{},
        "on_rename_page":{},
        "on_new_single_block":{},
        "on_new_double_block":{},
        "on_delete_page":{},
        "on_align_left":{},
        "on_align_center":{},
        "on_align_right":{},
        "on_bold":{},
        "on_italic":{},
        "on_underline":{},
        "on_clear_formatting":{},
        "on_picture":{},
        "on_shadow":{},
        "on_settings":{},
        "on_user":{},
        "on_add_left":{},
        "on_add_right":{},
        "on_delete_left":{},
        "on_delete_right":{},
        "on_swap":{},
        "on_move":{},
        "on_logout":{},
        "on_close":{},
        "on_edit_theme":{},
        "on_edit_user":{},
        "global":{},
        "update_page_title":{},
        "load_page":{},
        "sql_null":{},
        "new_page":{},
        "sql_bool":{},
        "remove_all_spaces":{},
        "sql_delete":{},
        "delete_page":{},
        "load_pages":{},
        "delete_page_blocks":{},
        "on_page_select":{},
        "login":{},
        "get_cookie":{},
        "yesno":{},
        "set_cookie":{},
        "verify_user":{},
        "load_user":{},
        "open_form":{},
        "close_form":{},
        "on_new_block":{},
        "on_delete_block":{},
        "on_move_up":{},
        "on_move_down": {},
        "show_fullsize": {}
    }
}