{   
    "globals": {
        "build_border_style":{},
        "close_form":{},
        "Config":{},
        "create_form":{},
        "create_page":{},
        "FormType":{},
        "get_float_style":{},
        "get_hex_color_style":{},
        "get_int_style":{},
        "get_style":{},
        "is_in_menu":{},
        "is_valid":{},
        "load_page_sections":{},
        "logg":{},
        "navbar_rename_item":{},
        "page_all":{},
        "page_edit":{},
        "page_menu":{},
        "page_order":{},
        "Page":{},
        "parse_border_style":{},
        "parse_rgb":{},
        "remove_childs":{},
        "rgb_to_hex":{},
        "set_style":{},
        "sql_delete":{},
        "sql_insert":{},
        "sql_select":{},
        "sql_update":{},
        "sql":{},
        "update_navbar":{},
        "User":{},
        "yesno":{}
    }
}