{   
    "globals": {
        "build_border_style":{},
        "close_form":{},
        "Config":{},
        "create_base":{},
        "create_form":{},
        "create_page":{},
        "edit_config":{},
        "edit_users":{},
        "vh_to_pixels":{},
        "pixels_to_vh":{},
        "parse_section_id":{},
        "edit_themes":{},
        "page_editor":{},
        "rename_page":{},
        "apply_theme":{},
        "login":{},
        "logout":{},
        "load_config":{},
        "load_user":{},
        "get_cookie":{},
        "load_page":{},
        "load_navbar":{},
        "load_footer":{},
        "load_toolbar":{},
        "create_section":{},
        "FormType":{},
        "get_float_style":{},
        "get_height_as_vh":{},
        "get_hex_color_style":{},
        "get_int_style":{},
        "get_style":{},
        "is_in_menu":{},
        "is_valid":{},
        "load_page_sections":{},
        "logg":{},
        "Section":{},
        "delete_section":{},
        "navbar_rename_item":{},
        "page_all":{},
        "page_edit":{},
        "page_menu":{},
        "page_order":{},
        "Page":{},
        "parse_border_style":{},
        "parse_rgb":{},
        "remove_childs":{},
        "rgb_to_hex":{},
        "set_style":{},
        "sql_delete":{},
        "sql_insert":{},
        "sql_select":{},
        "sql_update":{},
        "sql":{},
        "update_navbar":{},
        "User":{},
        "yesno":{}
    }
}