.iform {
    background: #202020e0;
    border-radius: 8px;
    outline: 2px solid white;
    color: #ffffff;
    display: block;
    float: left;
    font-size: 1em;
    height: auto;
    left: 10%;
    margin: 10px;
    min-height: 10vh;
    min-width: 20vw;
    overflow: hidden;
    padding: 3%;
    position: absolute;
    top: 10%;
    width: min-content;
    z-index: 100;
}

.itheme-edit {
    background: rgba(32, 32, 32, 0.6);
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    float: left;
    z-index: 100;
    width: min-content;
    height: auto;
    position: fixed;
    left: 10%;
    top: 20%;
    z-index: 1000;
    overflow: auto;
    padding-right: 10px;
}


.ilabel {
    background: transparent;
    color: #ffffff;
    border: none;
    display: grid;
    margin: 8px;
}

.ifile {
    background: #ffffff;
    color: #000000;
    border: 2px solid #ffffff;
    border-radius: 6px;
    height: 1em;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    margin: 8px;
}

.ifile:hover {
    background: yellow;
    color: #400000;
}

.ifile:focus {
    background: orange;
    color: black;
}

.itext {
    background: #ffffff;
    color: #000000;
    border: 2px solid #ffffff;
    border-radius: 6px;
    height: 1em;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    margin: 8px;
}

.itext:hover {
    background: yellow;
    color: #400000;
}

.itext:focus {
    background: orange;
    color: black;
}

.icolor {
    border: none;
    border-radius: 6px;
    margin: 8px;
}

.inumber {
    background: #ffffff;
    color: #000000;
    border: 2px solid #ffffff;
    border-radius: 6px;
    height: 1em;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    margin: 8px;
}

.inumber:hover {
    background: yellow;
    color: #400000;
}

.inumber:focus {
    background: orange;
    color: black;
}


.icheckbox {
    background: #ffffff;
    color: #000000;
    border: 2px solid #ffffff;
    border-radius: 4px;
    margin: 8px;
    width: 1em;
}


.ibutton {
    background: #101010;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 12px;
    width: 90%;
    margin: 8px;
    font-size: 1.2em;
    font-weight: bold;
    height: 1.6em;

}

.icombo {
    background: #808080;
    color: #000000;
    border: 2px solid #ffffff;
    border-radius: 6px;
    width: 98%;
    height: 1em;
    margin: 8px;

}

.islider {
    background: #404040;
    color: #ffffff;
    border: 2px solid black;
    border-radius: 6px;
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 1em;
    outline: none;
    opacity: 0.5;
    margin: 8px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.islider:hover {
    opacity: 1;
}

.islider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: white;
    cursor: pointer;
}

.islider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: white;
    cursor: pointer;
}


.ivalue {
    font-style: italic;
    color: orange;
    margin: 8px;

}


.iselect {
    background: #ffffff;
    color: #000000;
    border: 2px solid #ffffff;
    border-radius: 6px;
    width: fit-content;
    /* height: 2em; */
    min-width: 120px;
    font-size: 1em;
    font-weight: bold;
    margin: 8px;

}

.iselect:hover {
    background: yellow;
    color: #400000;
}

.iselect:focus {
    background: orange;
    color: black;
}

.ioption {
    margin: 6px;
    padding-left: 10px;
}

.ichecklist {
    background: #ffffff;
    color: #000000;
    border: 2px solid #ffffff;
    border-radius: 6px;
    width: fit-content;
    min-width: 120px;
    font-size: 1em;
    font-weight: bold;
    margin: 8px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;

}

.ichecklist:hover {
    background: yellow;
    color: #400000;
}

.ichecklist:focus {
    background: orange;
    color: black;
}

.icheckoption {
    margin: 6px;
    padding-left: 10px;
}


.ititle {
    background: transparent;
    color: var(--title_fg);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1),
        3px 4px 4px rgba(0, 0, 0, 0.15),
        4px 6px 4px rgba(0, 0, 0, 0.2),
        5px 8px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    height: calc(var(--fsize) * 2 );
    line-height: calc(var(--fsize) * 2 );
    text-align: center;
    font-size: calc(var(--fsize) * 1.4);
}

.icol-40-30-30 {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    margin-bottom: 0.5em;
}
.icol-60-40 {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 0.5em;
}
.icol-40-60 {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 0.5em;
}

.icol-50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.icol-100 {
    display: grid;
    grid-template-columns: 100% 0%;
}

.ifullscreen {
    position: absolute;
    width:100vw;
    height: 100vh;
    left:0;
    top:0;
    background: black;
    color: white;
    border: 2px solid white;
    z-index: 999;
}

.ileft{
    background:var(--section-background);
    color:var(--section-color);
    border-width:var(--section-border-width);
    border-style:var(--section-border-style);
    border-color:var(--section-border-color);
    border-radius:var(--section-border-radius);
    height:inherit;
    margin-right: 10px !important;
    resize: horizontal;
    overflow: auto;
    outline-color:var(--section-outline-color);
    outline-style:var(--section-outline-style);
    outline-width:var(--section-outline-width);
}

.shadow {
    -webkit-box-shadow: 10px 10px 15px black;
    box-shadow: 10px 10px 15px black;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.iright{
    background:var(--section-background);
    color:var(--section-color);
    border-width:var(--section-border-width);
    border-style:var(--section-border-style);
    border-color:var(--section-border-color);
    border-radius:var(--section-border-radius);
    height:inherit;
    resize: horizontal;
    overflow: auto;
    outline-color:var(--section-outline-color);
    outline-style:var(--section-outline-style);
    outline-width:var(--section-outline-width);
}


.panel-area {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;

}

.left-panel {
    width: 9vw;
    margin-top: 10vh;
}


.right-panel {
    width: 10vw;
}

.image
{
    background: var(--section-background);
    color: var(--section-color);
    border-color: var(--section-border-color);
    border-style: var(--section-border-style);
    border-radius: var(--section-border-radius);
    border-width: var(--section-border-width);
}

.image > img {
    margin: 20px;
}

.image > canvas {
    margin: 4px;
    padding: 4px;
}

.vert-menu {
	display: grid;
	background: black;
}

.toolbar {
	display: grid;
	background: black;
    position: relative;
    left: 0vw;
    top: 9vh;
    width: fit-content;
}

.tools {
    background: black;
    font-weight: bold;
    margin: 4px;
    height: 1.3em;
    width: auto;
    font-size: 0.8em;
}

fieldset {
    display: grid;
    background: black;
}

.itree {
    list-style-type: none;
    margin-left: -40px;
}

.itree>li {
    background: var(--bg4);
    color: var(--fg4);
    cursor: pointer;
}

.itree>.iselected {
   font-weight: bold;
   font-size: larger;
}

.itree>li::before {
    content: "\25B6";
    color: transparent;
    display: inline-block;
    margin-right: 6px;
}

.inested {
    list-style-type: none;
    display: none;

}

.inested>li {
    background: var(--bg4l);
    color: var(--fg4l);
    cursor: pointer;
}

.inested>li::before {
    content: "\25B6";
    color: transparent;
    display: inline-block;
    margin-right: 6px;
}

.icaret {
    cursor: pointer;
    user-select: none;
}

.icaret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.icaret-down::before {
    transform: rotate(90deg);
}

.iactive {
    display: block;
}

