body {
    background: var(--bg1);
    color: var(--fg1);
    font-family: var(--font);
    font-size: var(--fsize);
    height: calc(99.5vh - var(--shadow-size));
}

main {
    width: 78vw;
    position: absolute;
    left: 10.5vw;
    height: calc(91.5vh - var(--shadow-size));
    top: calc(5.5vh + var(--shadow-size));
    border-radius: 8px;
    border-color: var(--fg1);
    border-style: solid;
    border-width: var(--main_border);
    -webkit-box-shadow: 10px 10px 15px var(--main_shadow);
    box-shadow: 10px 10px 15px var(--main_shadow);

}

.left {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 10vw;
    height: calc(99.5vh - var(--shadow-size));
    border-radius: 8px;
}

.right {
    display: block;
    position: fixed;
    top: 0;
    right: 0.5vw;
    border-radius: 8px;
    width: calc(10vw - var(--shadow-size));
    height: calc(99.5vh - var(--shadow-size));
}

@media screen and (max-width: 600px) {
    .left {
        display: none;
    }
    .right {
        display: none;
    }
    main {
        width: 98vw;
        left: 1vw;
    }
    
}

footer {
    background: var(--bg2);
    color: var(--fg2);
    font-size: var(--footer_fsize);
    font-style: var(--footer_fstyle);
    border-color: var(--fg2);
    border-style: solid;
    border-width: var(--footer_border);
    border-radius: 8px;
    height: 3vh;
    line-height: 3vh;
    text-align: center;
    position: fixed;
    left: 10.5vw;
    bottom: 0;
    width: 78vw;
    -webkit-box-shadow: 10px 10px 15px var(--footer_shadow);
    box-shadow: 10px 10px 15px var(--footer_shadow);

}

.footer_shadow {
    bottom: var(--shadow-size);

}

input {
    background: var(--bg4);
    color: var(--fg4);
    border: 1px solid var(--fg4);
    border-radius: 8px;
    font-size: calc(1.2*var(--fsize));
    font-weight: bold;
}

input:hover {
    background: var(--bg4h);
    color: var(--fg4h);
    border: 1px solid var(--fg4h);
}

input:active {
    background: var(--bg4h);
    color: var(--fg4h);
    border: 1px solid var(--fg4h);
}

button {
    background: var(--bg2);
    color: var(--fg2)
}

button:hover {
    background: var(--bg4h);
    color: var(--fg4h);
}

.imagetext {
    background-color: var(--bg5);
    color: var(--fg5);
    resize: none;
    width: 100%;
    width: -moz-available;
    min-width: 100px;
    margin: 8px;
    border: none;
}

figure {
    margin-left: 8px;
}

figure>img {
    margin-top: 0;
}

figcaption {
    font-size: small;
    font-style: italic;
    text-align: center;
}

section {
    flex-direction: row;
    background-color: var(--bg5);
    color: var(--fg5);
    overflow: hidden;
}

.section-edit {
    background-color: var(--bg5s);
    color: var(--fg5s);
    outline: 2px dashed var(--fg5s);
}

.field {
    background-color: var(--bg5);
    color: var(--fg5);
    margin: 0.8em;
    width: 50%;
    overflow: auto;
    resize: none;
}

.field-edit>canvas {
    outline: 2px dotted var(--fg5s);
}

.field-edit {
    background-color: var(--bg5s);
    color: var(--fg5s);
    outline: 2px solid var(--fg5s);
    overflow: auto;
    resize: horizontal !important;
}

.field>a {
    color: var(--links);
}

.link {
    color: var(--links);
}

.edit-outline {
    outline-color: var(--fg4h);
    outline-style: solid;
    outline-width: 2px;
}