body {
    background: var(--background);
    color: var(--color);
    font-family: var(--font);
    font-size: var(--fsize);
    height: calc(99.5vh - var(--shadow_size));
}

main {
    width: 78vw;
    position: absolute;
    left: 9.9vw;
    height: calc(91.5vh - var(--shadow_size));
    top: calc(5vh + var(--shadow_size) + 1em);
    border-radius: var(--main_radius);
    border: var(--main_border);
    -webkit-box-shadow: 10px 10px 15px var(--main_shadow);
    box-shadow: 10px 10px 15px var(--main_shadow);

}

.page-title {
    display: block;
    position: absolute;
    background-color: var(--titles_background);
    color: var(--titles_color);
    top: calc(2.5vh + var(--shadow_size));
    left: 9.9vw;
    height: 1.6em;
    width: 78vw;
    text-align: center;
    line-height: 1.6em;
    font-size: large;
    font-weight: bold;
    border-radius: 0px;
}


.left {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 10vw;
    height: calc(99.5vh - var(--shadow_size));
    border-radius: 8px;
}

.right {
    display: block;
    position: fixed;
    top: 0;
    right: 0.5vw;
    border-radius: 8px;
    width: calc(10vw - var(--shadow_size));
    height: calc(99.5vh - var(--shadow_size));
}

@media screen and (max-width: 600px) {
    .left {
        display: none;
    }
    .right {
        display: none;
    }
    main {
        width: 98vw;
        left: 1vw;
    }
    
}

footer {
    background: var(--bars_background);
    color: var(--bars_color);
    font-size: var(--footer_fsize);
    font-style: var(--footer_fstyle);
    border: var(--footer_border);
    border-radius: var(--footer_radius);
    height: 3vh;
    line-height: 3vh;
    text-align: center;
    position: fixed;
    left: 10.5vw;
    bottom: 0;
    width: 78vw;
    -webkit-box-shadow: 10px 10px 15px var(--footer_shadow);
    box-shadow: 10px 10px 15px var(--footer_shadow);

}

.footer_shadow {
    bottom: var(--shadow_size);

}

input {
    background: var(--titles_background);
    color: var(--titles_color);
    border: 1px solid var(--titles_color);
    border-radius: 8px;
    font-size: calc(1.2*var(--fsize));
    font-weight: bold;
}

input:hover {
    background: var(--ctl_background_hover);
    color: var(--ctl_color_hover);
    border: 1px solid var(--ctl_color_hover);
}

input:active {
    background: var(--ctl_background_hover);
    color: var(--ctl_color_hover);
    border: 1px solid var(--ctl_color_hover);
}

button {
    background: var(--bars_background);
    color: var(--bars_color)
}

button:hover {
    background: var(--ctl_background_hover);
    color: var(--ctl_color_hover);
}

.imagetext {
    background-color: var(--section_background);
    color: var(--section_color);
    resize: none;
    width: 100%;
    width: -moz-available;
    min-width: 100px;
    margin: 8px;
    border: none;
}

figure {
    margin-left: 8px;
}

figure>img {
    margin-top: 0;
}

figcaption {
    font-size: small;
    font-style: italic;
    text-align: center;
}

section {
    flex-direction: row;
    background-color: var(--section_background);
    color: var(--section_color);
    overflow: hidden;
}

.section-edit {
    background-color: var(--section_selected_background);
    color: var(--section_selected_color);
    outline: 2px dashed var(--section_selected_color);
}

.field {
    background-color: var(--section_background);
    color: var(--section_color);
    margin: 0.8em;
    width: 50%;
    overflow: auto;
    resize: none;
}

.field-edit>canvas {
    outline: 2px dotted var(--section_selected_color);
}

.field-edit {
    background-color: var(--section_selected_background);
    color: var(--section_selected_color);
    outline: 2px solid var(--section_selected_color);
    overflow: auto;
    resize: horizontal !important;
}

.field>a {
    color: var(--links);
}

.link {
    color: var(--links);
}

.edit-outline {
    outline-color: var(--ctl_color_hover);
    outline-style: solid;
    outline-width: 2px;
}