:root {
    --theme_name: 'Dark';
    --bg1: #202020;
    --fg1: #ffffff;
    --bg2: #000000;
    --fg2: #c8c880;
    --bg3: #202020;
    --fg3: #ffffff;
    --font: "Arial";
    --fsize: 1.0em;
    --links: #c8c880;
    --bg4: #f5deb3;
    --fg4: #202020;
    --bg4h: #ffeec3;
    --fg4h: #101010;
    --bg4l: #a89a7f;
    --fg4l: #000000;
    --bg5: #303030;
    --fg5: #ffffff;
    --bg5s: #404040;
    --fg5s: #ffffff;
    --nav_fsize: 1.2em;
    --nav_fweight: bold;
    --nav_border: 0px solid black;
    --footer_border: 0px solid black;
    --main_border: 0px solid black;
    --shadow_size: 32px;
    --nav_shadow: transparent;
    --footer_shadow: transparent;
    --main_shadow: transparent;
    --footer_fsize: 0.8em;
    --footer_fstyle: italic;
    --title_fg: #c8c880;
}