* {
    margin: 4px;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: var(--bg_app);
    color: var(--fg_app);
}

body {
    font-family: var(--app_font);
    font-size: var(--app_font_medium);
    background: var(--app_bg);
    color: var(--app_fg);
    width: var(--app_width);
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    font-weight: 400;
    line-height: 20px;
}

main {
    background: var(--main_bg);
    color: var(--main_fg);
    border: var(--main_border);
    border-radius: var(--main_radius);
    font-family: var(--main_font);
    font-size: var(--main_font_size);
    font-style: var(--main_font_style);
    font-weight: var(--main_font_weight);
    padding: 0;
    width: var(--app_width);
    height: 89vh;
}

iframe {
    width:560px;
    height:315px;
}

a {
    text-decoration: none;
}

label {
    background: transparent;
    display: inline-block;
    text-align: left;
}

input {
    background: var(--inp_bg);
    color: var(--inp_fg);
    border: var(--inp_border);
    border-radius: var(--inp_radius);
    font-family: var(--inp_font);
    font-size: var(--inp_font_size);
    font-style: var(--inp_font_style);
    font-weight: var(--inp_font_weight);
    padding: 0;
}


@media (max-width: 800px) {
    body {
        width: 98vw;
        margin-left: 1vw;
        margin-right:  1vw;
        padding: 4px;
    }

    iframe {
        width:-moz-available;
    }
}
