@font-face {
    font-family: Arial;
    src: url(../fonts/Arial.ttf);
}

@font-face {
    font-family: Anton-Regular;
    src: url(../fonts/Anton-Regular.ttf);
}

@font-face { 
    font-family: DynaPuff-Bold;
    src: url(../fonts/DynaPuff-Bold.ttf);
}

@font-face { 
    font-family: DynaPuff-Medium;
    src: url(../fonts/DynaPuff-Medium.ttf);
}

@font-face { 
    font-family: DynaPuff-Regular;
    src: url(../fonts/DynaPuff-Regular.ttf);
}

@font-face { 
    font-family: DynaPuff-SemiBold;
    src: url(../fonts/DynaPuff-SemiBold.ttf);
}

@font-face { 
    font-family: DynaPuff_Condensed-Bold;
    src: url(../fonts/DynaPuff_Condensed-Bold.ttf);
}

@font-face { 
    font-family: DynaPuff_Condensed-Medium;
    src: url(../fonts/DynaPuff_Condensed-Medium.ttf);
}

@font-face { 
    font-family: DynaPuff_Condensed-Regular;
    src: url(../fonts/DynaPuff_Condensed-Regular.ttf);
}

@font-face { 
    font-family: DynaPuff_Condensed-SemiBold;
    src: url(../fonts/DynaPuff_Condensed-SemiBold.ttf);
}

@font-face { 
    font-family: DynaPuff_SemiCondensed-Bold;
    src: url(../fonts/DynaPuff_SemiCondensed-Bold.ttf);
}

@font-face { 
    font-family: DynaPuff_SemiCondensed-Medium;
    src: url(../fonts/DynaPuff_SemiCondensed-Medium.ttf);
}

@font-face { 
    font-family: DynaPuff_SemiCondensed-Regular;
    src: url(../fonts/DynaPuff_SemiCondensed-Regular.ttf);
}

@font-face { 
    font-family: DynaPuff_SemiCondensed-SemiBold;
    src: url(../fonts/DynaPuff_SemiCondensed-SemiBold.ttf);
}

@font-face { 
    font-family: Orbitron-Black;
    src: url(../fonts/Orbitron-Black.ttf);
}

@font-face { 
    font-family: Orbitron-Bold;
    src: url(../fonts/Orbitron-Bold.ttf);
}

@font-face { 
    font-family: Orbitron-ExtraBold;
    src: url(../fonts/Orbitron-ExtraBold.ttf);
}

@font-face { 
    font-family: Orbitron-Medium;
    src: url(../fonts/Orbitron-Medium.ttf);
}

@font-face { 
    font-family: Orbitron-Regular;
    src: url(../fonts/Orbitron-Regular.ttf);
}

@font-face { 
    font-family: Orbitron-SemiBold;
    src: url(../fonts/Orbitron-SemiBold.ttf);
}

@font-face { 
    font-family: Pacifico-Regular;
    src: url(../fonts/Pacifico-Regular.ttf);
}

@font-face { 
    font-family: Roboto-Black;
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face { 
    font-family: Roboto-BlackItalic;
    src: url(../fonts/Roboto-BlackItalic.ttf);
}

@font-face { 
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face { 
    font-family: Roboto-BoldItalic;
    src: url(../fonts/Roboto-BoldItalic.ttf);
}

@font-face { 
    font-family: Roboto-Italic;
    src: url(../fonts/Roboto-Italic.ttf);
}

@font-face { 
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face { 
    font-family: Roboto-LightItalic;
    src: url(../fonts/Roboto-LightItalic.ttf);
}

@font-face { 
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face { 
    font-family: Roboto-MediumItalic;
    src: url(../fonts/Roboto-MediumItalic.ttf);
}

@font-face { 
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face { 
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face { 
    font-family: Roboto-ThinItalic;
    src: url(../fonts/Roboto-ThinItalic.ttf);
}

@font-face { 
    font-family: RobotoCondensed-Bold;
    src: url(../fonts/RobotoCondensed-Bold.ttf);
}

@font-face { 
    font-family: RobotoCondensed-BoldItalic;
    src: url(../fonts/RobotoCondensed-BoldItalic.ttf);
}

@font-face { 
    font-family: RobotoCondensed-Italic;
    src: url(../fonts/RobotoCondensed-Italic.ttf);
}

@font-face { 
    font-family: RobotoCondensed-Light;
    src: url(../fonts/RobotoCondensed-Light.ttf);
}

@font-face { 
    font-family: RobotoCondensed-LightItalic;
    src: url(../fonts/RobotoCondensed-LightItalic.ttf);
}

@font-face { 
    font-family: RobotoCondensed-Regular;
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face { 
    font-family: SedgwickAveDisplay-Regular;
    src: url(../fonts/SedgwickAveDisplay-Regular.ttf);
}

@font-face { 
    font-family: ShadowsIntoLight-Regular;
    src: url(../fonts/ShadowsIntoLight-Regular.ttf);
}

