/* 
    Internal is the controls used for editing the system
    Not the user defined things which are set by the theme
 */

 .iform {
    background: #202020c0;
    color: #ffffff;
    border: 2px solid white;
    margin: 10px;
    padding: 10px; 
    font-size: 1em;
    overflow: hidden;
    float: left;
    display: block;
    width: 40vw;

 }

 .itheme-edit {
   background: rgba(32,32,32,0.6);
   color: white;
   border: 2px solid black;
   border-radius: 8px;
   display: block;
   float: left;
   z-index: 100;
   width: min-content;
   height: auto;
   position: fixed;
   left: 10%;
   top: 20%;
   z-index: 1000;
   overflow: auto;
   padding-right: 10px;
}


 .ilabel {
    background: transparent;
    color: #ffffff;
    border: none;
    display: grid;
 }

 .ifile {
   background: #ffffff;
   color: #000000;
   border: 2px solid #ffffff;
   border-radius: 6px;
   height: 2em;
   padding: 10px;
   font-size: 1em;
   font-weight: bold;
}

.ifile:hover {
  background: yellow;
  color: #400000;
}

.ifile:focus {
  background: orange;
  color: black;
}

 .itext {
    background: #ffffff;
    color: #000000;
    border: 2px solid #ffffff;
    border-radius: 6px;
    height: 2em;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
 }

 .itext:hover {
   background: yellow;
   color: #400000;
 }

 .itext:focus {
   background: orange;
   color: black;
 }

 .inumber {
   background: #ffffff;
   color: #000000;
    border: 2px solid #ffffff;
    border-radius: 6px;
    height: 2em;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
 }

 .inumber:hover {
   background: yellow;
   color: #400000;
 }

 .inumber:focus {
   background: orange;
   color: black;
 }


 .icheckbox {
   background: #ffffff;
   color: #000000;
   border: 2px solid #ffffff;
   border-radius: 4px;
   margin-left: 10px;
}


 .ibutton {
    background: #101010;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 12px;
    width: 100%;
 }

 .icombo {
    background: #808080;
    color: #000000;
    border: 2px solid #ffffff;
    border-radius: 6px;
    width: 98%;
    height: 2em;
}

.islider {
   background: #404040;
   color: #ffffff;
   border: 2px solid black;
   border-radius: 6px;
   -webkit-appearance: none;
   appearance: none;
   width: 80%;
   height: 1em; 
   outline: none; 
   opacity: 0.5; 
   margin: 4px;
   -webkit-transition: .2s;
   transition: opacity .2s;
 }
 
 .islider:hover {
   opacity: 1;
 }
 
 .islider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 12px;
   height: 12px;
   border-radius: 6px;
   background: white;
   cursor: pointer; 
 }
 
 .islider::-moz-range-thumb {
   width: 12px;
   height: 12px; 
   border-radius: 6px;
   background: white;
   cursor: pointer;
 }


.ivalue {
   font-style: italic;   
   color: orange;
}

.iselect {
    background: #ffffff;
    color: #000000;
    border: 2px solid #ffffff;
    border-radius: 6px;
    width: -webkit-fill-available;
    height: 2em;
    font-size: 1em;
    font-weight: bold;
}

.iselect:hover {
   background: yellow;
   color: #400000;
 }

 .iselect:focus {
   background: orange;
   color: black;
 }

 .ioption {
   margin: 6px;
   padding-left: 10px;
 }

.ititle {
   background: transparent;
   color: orange;
   text-shadow:2px 2px 4px rgba(0, 0, 0, 0.1),
   3px 4px 4px rgba(0, 0, 0, 0.15),
   4px 6px 4px rgba(0, 0, 0, 0.2),
   5px 8px 4px rgba(0, 0, 0, 0.25);
   height: 2em;
   line-height: 2em;
   text-align: center;
   font-size: 1.4em;
}

.icol2 {
   display: grid;
   grid-template-columns: 40% 60%;
}

.icol-50-50 {
   display: grid;
   grid-template-columns: 50% 50%;
}