.form-container {
    background: #202020;
    color: white;
    border: none;
    border-radius: var(--dlg_radius);
    font-family: var(--dlg_font);
    font-size: var(--dlg_font_size);
    font-style: var(--dlg_font_style);
    font-weight: var(--dlg_font_weight);    
    display: block;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.fixed-width-50 {
    min-width: 50px;
    max-width: 50px;
}

.fixed-width-100 {
    min-width: 100px; 
    max-width: 100px; 
}

.fixed-width-150 {
    min-width: 150px;
    max-width: 15
    00px;
}

.fixed-width-200 {
    min-width: 200px;
    max-width: 200px;
}

.fixed-width-300 {
    min-width: 200px;
    max-width: 200px;
}

.fixed-width-400 {
    min-width: 400px;
    max-width: 400px;
}

.fixed-width-600 {
    min-width: 600px;
    max-width: 600px;
}

.shadow {
    -webkit-box-shadow: 10px 10px 15px black;
    box-shadow: 10px 10px 15px black;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.upload-caption {
    margin-bottom: 40px;
}

.upload-title {
    margin-bottom: 40px;
}

.upload-input {
    margin-bottom: 40px;
}

.current-user {
    color: #ffdd0d;
    font-style: italic;
}

.media-title {
    font-size: var(--app_font_size);
    font-weight: bold;
    font-style: italic;
}

.userform {
    background: #202020;
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: left;
    padding: 10px;
    margin: 10px;
    min-width: 420px;
    max-width: 420px;
}

.userfield {
    background: #a0a0a0;
    color: black;
    border: 2px solid black;
    border-radius: 12px;
    font-weight: bold;      
    margin-bottom: 10px;
}

.usercombo {
    background: #a0a0a0;
    color: black;
    border: 2px solid black;
    border-radius: 12px;
    font-weight: bold;
    margin-bottom: 30px;
}

.fullscreen {
    position: absolute;
    width:100vw;
    height: 100vh;
    left:0;
    top:0;
    background: var(--app_bg);
    color: var(--app_fg);
    border: var(--app_border);
    z-index: 999;
}

.slider {
    background: var(--field_bg);
    color: var(--field_fg);
    border: var(--field_border);
    border-radius: var(--field_radius);
    font-family: var(--field_font);
    font-size: var(--field_font_size);
    font-style: var(--field_font_style);
    font-weight: var(--field_font_weight);      
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 8px; 
    outline: none; 
    opacity: 0.5; 
    margin: 4px;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: white;
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 12px;
    height: 12px; 
    border-radius: 6px;
    background: white;
    cursor: pointer;
  }

  .editor-combo {
    background: #101010;
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 6px;
    height: 36px;

  }

.dlg-button {
    background: #101010;
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 6px;
    height: 36px;
}

.dlg_button:hover {
    background: #202020;
    color: yellow;
}

.dlg_button:disabled {
    background: #404040;
    color: #202020;
}

.dlg_button:active {
    background-color: orange;
    color: black;
}


