.toolbar {
    background: var(--top_bg);
    color: var(--top_fg);
    border: var(--top_border);
    border-radius: var(--top_radius);
    font-family: var(--top_font);
    font-size: var(--top_font_size);
    font-style: var(--top_font_style);
    font-weight: var(--top_font_weight);    
    height: 32px;
    width: 100%;
    margin-top: 4px;
    text-align: left;
    display: inline-block;
}

.toolbar-button {
    background: var(--bar_bg);
    color: var(--bar_fg);
    border: var(--bar_border);
    border-radius: var(--bar_radius);
    font-family: var(--bar_font);
    font-size: var(--bar_font_size);
    font-style: var(--bar_font_style);
    font-weight: var(--bar_font_weight);
    width: auto;
    height: 24px;
    margin-top: 5px;
    margin-right: 10px;
    padding-left: 4px;
    padding-right: 4px;
    /* font-size: smaller; */
}

.toolbar-button:hover {
    background: var(--btn_hover_bg);
    color: var(--btn_hover_fg);
}

.toolbar-button:active {
    background: var(--btn_active_bg);
    color: var(--btn_active_fg);
}

.toolbar-button:disabled  {
    background: var(--btn_disabled_bg);
    color: var(--btn_disabled_fg);
}

@media (max-width: 800px) {
}